/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* cretaed */
.container{
  position: sticky;
  top: 0;
  z-index: 999;
  line-height: inherit;
  display: block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.containhead{
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  max-width: 1980px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

}
.main-menu {
   justify-content: space-between;
   align-items: center;
   display: flex;
  }
  .boxymenu{
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    inset: 0px;
  }
  .lagos{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
  }
  

 .mr-3  {
    border: 1px solid rgb(223, 226, 226);
    width: 98%;
    background-color: white;
      padding-right: 1.25rem;
      padding: 0.5rem;
      border-radius: 8px;
      justify-content: flex-start;
      align-items: center;
      display: flex;
      margin-right: 0.75rem;
  }
  
.ml-2{
    width: 100%;
    background-color: rgb(255, 255, 255);
    outline: 2px solid transparent;
    outline-offset: 2px;
    background-color: transparent;
    border-style: none;
    margin-left: 0.5rem;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
.sideside{
  display: flex;
  width: 49%;
  flex-direction: column;
}

.sidemenu2{
    z-index: 2147483647;
    text-align: left;
    display: inline-block;
    position: relative;
}

.buttonsearch{
  font-weight: 300;
  font-size: .875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    width: 100%;
    display: inline-flex;
    cursor: pointer;
    text-transform: none;
}

.buttonLearn{
  transition-duration: 75ms;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    color: rgb(255 255 255);
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: green;
    border-color: #1FAD58;
    border-width: 1px;
    border-width: 1px;
    border-radius: 8px;
    align-items: center;
    display: inline-flex;
    margin-left: 1.25rem;
    cursor: pointer;
    font-size: 100%;
}


 .menu-button{
    color: #FFFFFF;
    font-size: 16px;
    background-color: #1FAD58;
    margin: 0px 0px 0px 20px;
    padding: 8px 8px;

 }

 .lagosBigImage{
     position: absolute;
     inset: 0px;
     box-sizing: border-box;
     padding: 0px;
     border: none;
     margin: auto;
     display: block;
     width: 0px;
     height: 0px;
     min-width: 100%;
     max-width: 100%;
     min-height: 100%;
     max-height: 100%;
     object-fit: cover;
 }


  .footerLogos{
    flex: auto;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
  }
.copyryt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.addendom{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(8, minmax(0px, 1fr));
    gap: 3rem;
    
}